NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NTERSWITCH_BASE_URL=https://sandbox.interswitchng.com
INTERSWITCH_CLIENT_ID=
INTERSWITCH_SECRET_KEY=
INTERSWITCH_MERCHANT_CODE=
INTERSWITCH_PAY_ITEM_ID=
GOOGLE_API_KEY=
NEXT_PUBLIC_APP_URL=
NEXT_AUTH_SECRET=